MQTT_SERVER=194.177.207.38
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=iot/${MQTT_USERNAME}
PUBLISH_INTERVAL=5

CLIENT_ID="raspberry_130"
DEVICE_LAT=39.366729703816816
DEVICE_LNG=22.932643105841592
DEVICE_TIMEZONE=Europe/Athens

INFLUX_URL=194.177.207.38
INFLUX_PORT=8086
INFLUX_USERNAME=
INFLUX_PASSWORD=
INFLUX_DB=
